interactions:
- request:
    body: null
    headers:
      content-type:
      - application/json
      x-algolia-api-key:
      - c4deb46f27a6b350f6b8c64eff16f143
      x-algolia-application-id:
      - KDOUYOVLKO
    method: GET
    uri: https://kdouyovlko-dsn.algolia.net/1/indexes/demo_algolia_backend_res_partner_binding_fake_en_US/settings
  response:
    body:
      string: '{"minWordSizefor1Typo":4,"minWordSizefor2Typos":8,"hitsPerPage":20,"maxValuesPerFacet":100,"version":1,"attributesToIndex":null,"numericAttributesToIndex":null,"attributesToRetrieve":null,"unretrievableAttributes":null,"optionalWords":null,"attributesForFaceting":["name"],"attributesToSnippet":null,"attributesToHighlight":null,"paginationLimitedTo":1000,"attributeForDistinct":null,"exactOnSingleWordQuery":"attribute","ranking":["typo","geo","words","filters","proximity","attribute","exact","custom"],"customRanking":null,"separatorsToIndex":"","removeWordsIfNoResults":"none","queryType":"prefixLast","highlightPreTag":"<em>","highlightPostTag":"</em>","alternativesAsExact":["ignorePlurals","singleWordSynonym"]}'
    headers:
      Content-Disposition:
      - inline; filename=a.txt
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
